{% extends 'pages/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/home.css' %}">

<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">Welcome to AI Coder</h1>
    <p class="lead">The ultimate AI coding assistant for all your coding needs.</p>
    <hr class="my-4">
    <p>AI Coder uses state-of-the-art natural language processing to provide you with the best coding assistance.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'coding' %}" role="button">Get started</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Coding</h4>
                    <p class="card-text">Get assistance with coding. Our AI will help you with brainstorming and coding.</p>
                    <a href="{% url 'coding' %}" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Explaining</h4>
                    <p class="card-text">Need help to understand a code snippet? Our AI will help to explain it!</p>
                    <a href="{% url 'explaining' %}" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">About</h4>
                    <p class="card-text">Learn more about AI Coder and its capabilities.</p>
                    <a href="{% url 'about' %}" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}