.loading-message-class {
    display: none;
}

.answer-textarea {
    width: 100%;
    min-height: 500px;
    height: auto;
    overflow: auto;
}

.notification-class {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 4px;
    z-index: 1000;
    text-align: center;
}

.warm-reminder {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 700px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.warm-reminder marquee {
    font-style: italic;
    font-size: 0.9em;
    color: #007BFF;
}
